@import "peremen";
@import "mixins";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 30px;    
}

.header{
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1000;
}

.header__bac{
    width: 100%;
    background-color: #131212;
    opacity: .6;
    height: 70px;
    position: absolute;
    z-index: 1;
}

.header__content{
    position: relative;
    z-index: 10;
    
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    
    .header__logo{
        color: #F4F4F4;
        font-size: 12px;
        font-family: $mon;
        font-weight: 700;
    }
    
    .header__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        
        margin-right: 150px;    
        a{
            margin-right: 25px; 
            color: #F4F4F4;
            font-size: 14px;
            font-weight: 700;
            font-family: $play;
            transition: all ease .3s;
            

        }
        
        .btn_1{
            @include btn_1;
        }
        .btn_2{
            @include btn_2;
        }
        .btn_3{
            @include btn_3;
        }
        .btn_4{
            @include btn_4;
        }
        .btn_5{
            @include btn_5;
        }
        
    }
    
    
    .header__phone{
        display: flex;
        height: 70px;
        align-items: center;
        a{
            color: #F4F4F4;
            font-size: 16px;
            font-weight: 700;
            margin-left: 10px;

        }
        
        img{
            width: 13px;
        }
    }
    
}
//main

.main{
    background: url("../img/main.jpg")no-repeat center;
    background-size: cover;
    width: 100%;
    height: 750px;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    
    
    
    .main__content{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 750px;
        align-items: center;
        
        
        .main_con_left{
            position: relative;
            text-align: left;
            animation: text  2s ease-in-out;
            
            .h1_st{
                color: #CE1515;
                font-size: 54px;
            }
            
            .h1_sv{
                font-size: 54px;
                color: #F4F4F4;
                margin-top: 21px;
                
            }
            
            
            
             p{
                 margin-top: 18px;
                 color: #C7C7C7;
                 font-size: 14px;
                 width: 340px;
                 text-align: left;
            }    
            
        }
        
        .main_con_rigth{
            animation: nav  2s ease-in-out;
            position: relative;
            z-index: 1111;
            
            .main_nav{
            display:flex;
            flex-direction: column;
            
            img{
                width: 30px;
                margin-top: 10px;
            }
        }
        }
        
        
        
        
     
        
        
        
       
    }
    
    
       .main__smoke{
            background: url("../img/smoke.png")no-repeat center;
            background-size: contain;
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 700px;
            bottom: 0;
            right: 0;
           animation: smoke ease 105s infinite ;
            
        }
    
        @include smoke;
        @include texts;
        @include navs;
}

.block__center_text{
    text-align: center;
    margin-top: 100px;
    h1{
        font-family: $play;
        font-weight: 700;
        color: #000;
    }
    p{
        color: #8A8A8A;
        width: 336px;
        margin: 10px auto;
        font-family: $play;
        @include p;
        font-weight: 400;
        
    }
}


.block_dance{
    width: 100%;
    margin-top: 100px;
    
    .block_dance_content_one{
        display: flex;
        width: 100%;
        height: 500px;
        
        .block_content_img{
            width: 50%;
            height: 500px;
            
            img{
                object-fit: cover;
                width: 100%;
                height: 500px;
            }

        }
        
        .block_content_text{
            width: 50%;
            background-color: #fff;
            height: 500px;
            position: relative;
            
            .rigth{
                position: absolute;
                right: 200px;
            }
            .rigth_two{
                position: absolute;
                left: 500px;
            }
            .content__text{
                text-align: left;
                margin-left: 40px;
                margin-top: 15%;
                
                h1{
                    font-family: $play;
                    font-weight: 700;
                    color: #000;
                    font-size: 38px;
                }
                
                p{
                    width: 550px;
                    margin-top: 10px;
                }
            }
            
            
            .content_play{
                display: flex;
                height: 100px;
                align-items: center;
                margin-top: 50px;
                margin-left: 20px;
                img{
                    width: 100px;
                }
                a{
                    padding-left: 20px;
                    color: #333;
                }
                
            }
        }
    }
    
    .low{
        text-align: center;
        margin-top: 20px;
        
        img{
            width: 48px;
        }
    }
}







//block_teacher

.block_teacher{
    display: flex;
    height: 500px;
    
    .teacher{
        width: 25%;
        overflow: hidden;
        @include teacher;
        transition: all ease 1s;
        img{
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
    }
    
    @include anim_teacher;
}

























//block_teacher

























